.button-custom {
  width: 100%;
  border: 1px solid var(--color-base-sidebar);
  background: var(--color-base-sidebar);
  padding: 8px 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  outline: none !important;
  border-radius: 5px;

  &.ghost {
    background: #fff;
    color: var(--color-base-sidebar);
  }
}