.input-component {
  width: 100%;
  
  .container-label {
    width: 100%;
    .label {
      width: inherit;
      margin-bottom: 3px;
      color: var(--color-base-sidebar);
      font-weight: 500;
    }
  }

  .container-input {
    width: 100%;
    .input {
      width: inherit;
      outline: none;
      border: 1px solid rgb(230,230,230);
      padding: 5px 10px;
      color: rgb(150,150,150);
      background: #fff;
    }
  }
}