@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-base-sidebar: #0b1c25;
  --color-base-dark-sidebar: #05121a;
  --color-text-sidebar: #a8aeb3;
  --color-link: rgb(20, 117, 228);
  --width-sidebar: 270px;
  --position-sidebar-movil: calc(var(--width-sidebar) * -1);
  --height-sidebar-header: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: normal;
    font-size: 16px;
  }
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

section.container-cards article.card {
  flex-direction: inherit !important;
}

input,
button {
  border: none;
  background: none;
  outline: none;
}

.modal-header {
  height: 4rem !important;
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    left: var(--position-sidebar-movil);
  }
  .container-page {
    width: 100% !important;
  }
  .modal-header {
    height: 4rem !important;
  }
  .gm-style-mtc {
    display: none;
  }
  .gm-svpc {
    display: none;
  }
  .gm-control-active {
    display: none;
  }
  .gmnoprint {
    display: none;
  }
}
